[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest-aiohttp = "*"
faker = "*"
pytest-mock = "*"
freezegun = "*"
flake8 = "*"

[packages]
aiohttp = {extras = ["speedups"],version = "*"}
aiopg = {extras = ["sa"],version = "*"}
beautifulsoup4 = "*"
lxml = "*"
environs = "*"
aiofiles = "*"
alembic = "*"
click = "*"
pydantic = "*"
pytz = "*"
pyjwt = "*"

[requires]
python_version = "3.8"
