[Unit]
Description=run server for khabjob.ru
After=network.target

[Service]
User=django
Group=django
WorkingDirectory=/home/django/projects/khabjob/backend
ExecStart=/home/django/projects/khabjob/backend/env/bin/python /home/django/projects/khabjob/backend/main.py run_app --path=/tmp/khabjob.sock
Restart=on-failure

[Install]
WantedBy=multi-user.target