[Unit]
Description=run server for khabjob.ru
After=network.target

[Service]
User=django
Group=django
WorkingDirectory=template_path/backend
ExecStart=template_path/backend/.venv/bin/python template_path/backend/main.py run_app --path=/tmp/khabjob.sock
Restart=on-failure

[Install]
WantedBy=multi-user.target